<ng-template #blankImage>
    <img src="../../assets/img_not_available.jpg" alt="Avatar" style="width: 175px;">
</ng-template>

<div  class="card">
        <span [ngClass]="employee.rank">
            <img *ngIf="employee.iconUrl; else blankImage"  src="{{employee.iconUrl}}" alt="Avatar" style="width:80%">
            <div class="container">
            <h4><b [ngStyle]="onCheckRank(employee.rank)">{{employee.name}}</b></h4>
            <p>{{employee.rank}}</p>
            </div>
            <div [ngSwitch]="employee.rank">
                <span class="junior" *ngSwitchCase="'junior'">Necesita Ayuda</span>
                <span class="senior" *ngSwitchCase="'senior'">Lidera un equipo</span>
                <!--<span [ngClass]="employee.rank">Necesita Ayuda</span>-->
            </div>
            <button (click)="onEmployeeChecked(employee)">Check Employee</button>
        </span>
</div>
<ng-content select=".content1"></ng-content>